.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Space Grotesk', sans-serif;
}

.login, .register {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 5px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: rgb(63, 93, 103) solid 1px;
    border-radius: 3px;
    height: auto;
    width: 200px;
    resize: font-size 10px;
}


