.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid black;
}

.title {
    display: inline-block;
    font-family: 'Space Grotesk', sans-serif;
    color: darkblue;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    text-decoration: bold;
}

.logo {
    height: 60px;
    width: 60px;
    padding: 10px;
}

