.app {
  /* text-align: center; */
  background-image: linear-gradient(#ADD8E6, white);
  min-height: 100vh;
  font-family: 'Roboto Flex', sans-serif;
  list-style: none;
}

* {
  list-style: none;
}



